sudo: required
language: java
jdk:
  - oraclejdk8
  - oraclejdk9

cache:
  directories:
  - $HOME/.m2

before_install:
  - cp .travis.maven.settings.xml $HOME/.m2/settings.xml

script:
  - set -e
  - ./.travis.sh
